/* BG color: #4ABDAC
 * Stuff and Stuff: #FC4A1A
 * Buttons: #F7B733
 * Tiny Text: #DFDCE3
 * Big Text & Navigations: #FFFFFF
 * Navigation Buttons Interchange: #454545 & #E6E6E6
 * Navigation Buttons Hover Interchange: 
 */

.page {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding: 0px;
	background-image: url("images/noice.png");
}

/* Header Stuff */
.headerDiv {
	width: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5px;
	background-color: #4ABDAC;
	text-align: center;
	border-radius: 4px;
}
.mainHeaderTitle {
	margin: 10px;
	padding: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 69px;
}
/* Navigations */
.navigations {
	margin: auto;
	padding: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
}
.Home {
	border: 1px solid #000000;
	text-align: center;
	margin: 5px;
	padding: 6px;
	border-radius: 6.5px;
	background-color: #E6E6E6;
	color: #454545;
	width: 52px;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.Home:hover {
	background-color: #454545;
	color: #E6E6E6;
	border: 1px solid #FFFFFF;
}
.Projects {
	border: 1px solid #000000;
	text-align: center;
	margin: 5px;
	padding: 6px;
	border-radius: 6.5px;
	background-color: #E6E6E6;
	color: #454545;
	width: 66px;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.Projects:hover {
	background-color: #454545;
	color: #E6E6E6;
}
.EmptyPage {
	border: 1px solid #000000;
	text-align: center;
	margin: 5px;
	padding: 6px;
	border-radius: 6.5px;
	background-color: #E6E6E6;
	color: #454545;
	width: 94px;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
.EmptyPage:hover {
	background-color: #454545;
	color: #E6E6E6;
}
/* Content Stuff */
.content {
	border-radius: 4px;
	background-color: #4ABDAC;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.subheading1 {
	padding: 5px;
	text-align: right;
	margin: 5px;
	color: #FFFFFF;
}
